asgiref==3.7.2
bcrypt==4.0.1
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.2.0
distlib==0.3.7
dj-database-url==2.1.0
Django==4.2.3
django-heroku==0.3.1
filelock==3.12.4
gunicorn==21.2.0
identify==2.5.30
idna==3.4
nodeenv==1.8.0
numpy==1.25.2
packaging==23.2
platformdirs==3.11.0
pre-commit==3.4.0
psycopg2==2.9.9
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.4
virtualenv==20.24.5
whitenoise==6.5.0
