div{
/*	border:1px solid red;*/
/*	margin-bottom:10px;*/
}

#header{
	display:flex;
	height:50px;
	border-bottom:2px solid #456990;
	margin-bottom:50px;
	align-items:center;
	justify-content: space-between;
	padding:0px 20px;
}
html{
	font-family: sans-serif;
	background-color: #114B5F;
}


h1{
	display:inline-block;
	color:#F45B69;
}

a{
	float:right;
	color:#F45B69;
	text-decoration: none;
}

input{
	margin-bottom:20px;
	width:100%;
}

button {
	background: #276B4D;
	background-image: -webkit-linear-gradient(top, #276B4D, #276B4D);
	background-image: -moz-linear-gradient(top, #276B4D, #276B4D);
	background-image: -ms-linear-gradient(top, #276B4D, #276B4D);
	background-image: -o-linear-gradient(top, #276B4D, #276B4D);
	background-image: linear-gradient(to bottom, #276B4D, #276B4D);
	-webkit-border-radius: 22;
	-moz-border-radius: 22;
	border-radius: 22px;
	font-family: Arial;
	color: #e4fde1;
	font-size: 16px;
	padding: 8px 16px 8px 16px;
	text-decoration: none;
}

button:hover {
	background: #f45b69;
	background-image: -webkit-linear-gradient(top, #f45b69, #f45b69);
	background-image: -moz-linear-gradient(top, #f45b69, #f45b69);
	background-image: -ms-linear-gradient(top, #f45b69, #f45b69);
	background-image: -o-linear-gradient(top, #f45b69, #f45b69);
	background-image: linear-gradient(to bottom, #f45b69, #f45b69);
	text-decoration: none;
}

@media only screen and (max-width:767px){
	#wrapper{
		width:80%;
		margin:0px auto;
		color:#e4fde1;
	}
	.labeler-div{
		align-items:center;
	}
}

@media only screen and (min-width:768px){
	#wrapper{
		width:50%;
		margin:0px auto;
		color:#E4FDE1;
	}



}

@media only screen and (min-width:1024px){
	#wrapper{
		width:35%;
		margin:0px auto;
		color:#e4fde1;
	}


}