
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../../static/reset.css" rel="stylesheet"/>
	<link href="../../static/cards.css" rel="stylesheet"/>

	<title>
	</title>
</head>
<body>
	<div id="header">
		<h1><a href="/">MAGIC</a></h1>
		<a href="/login/logout/">LOGOUT</a>
	</div>
	<div id="wrapper">
		<div>
			<table>
				<tr>
					<th>Card Name</th>
					<th>Quantity</th>
				</tr>
				{% for c in cards%}
					<tr>
						<td><a href="/card/{{c.id}}">{{c.name}}</a></td>
						<td>{{c.desc}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div id="naver">
	</div>

</body>
</html>