<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="../../static/reset.css" rel="stylesheet"/>
	<link href="../../static/index.css" rel="stylesheet"/>
</head>
<body>
	<div id="header">
		<h1><a href="/">MAGIC</a></h1>
		{% if logged_in %}
			<div>
				<a href="/login/logout/">LOGOUT</a>
				<a href="/decks/">DECKS</a>
				<h1>{{user}}</h1>
			</div>
		{% else %}
			<div>
				<a href="/login/">LOGIN</a>
				<a href="/login/register/">REGISTER</a>

			</div>
		{% endif %}
	</div>
	{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
	<div id="wrapper">
		<form action="/card_search/" method="post">
			{% csrf_token %}
			<div class="labeler-div">
				<p class="labeler">{{search_form.card_name.label}}</p>
				{{search_form.card_name}}
			</div>
			<hr>
			<div class="labeler-div">
				<p class="labeler">{{search_form.any_text.label}}</p>
				{{search_form.any_text}}
			</div>
			<hr>
			<div class="labeler-div">
				<p class="labeler">{{search_form.colors.label}}</p>
				{{search_form.colors}}
			</div>
			<hr>
			<div class="labeler-div">
				<p class="labeler">{{search_form.exactly_or_not.label}}</p>
				{{search_form.exactly_or_not}}
			</div>
			<hr>
			<div class="labeler-div">
				<p class="labeler">{{search_form.colors_identity.label}}</p>
				{{search_form.colors_identity}}
			</div>
			<hr>
			<div class="labeler-div">
				<p class="labeler">{{search_form.rarity.label}}</p>
				{{search_form.rarity}}
			</div>
			<hr>
			<div class="labeler-div">
				<p class="labeler">{{search_form.mpt.label}}</p>
				{{search_form.mpt}}
				{{search_form.mpt_condition}}
				{{search_form.mpt_parameter}} 
			</div>
			<hr>
			<div class="labeler-div">
				<p class="labeler">{{search_form.lrb.label}}</p>
				{{search_form.lrb}}
				{{search_form.game_types}}
			</div>
			<hr>
			<div class="labeler-div" id="type_line">
				<p class="labeler">{{search_form.type_line.label}}</p>
				{{search_form.type_line}}
			</div>
			<button type="submit" id="btn">Submit</button>
		</form>
	</div>
</body>
</html>